**/__pycache__
*.wav
**/*.env
!**/.env.template
**/memory_config.yaml
!**/memory_config.yaml.template
example/*
**/node_modules/*
**/ollama-data/*
**/qdrant_data/*
**/model_cache/*
.vscode/*
**/audio_chunks/*
**/mongo_data/*
.cursor/*
.locks
blobs
transcription_results.csv
**cache/*
*.ckpt
**/hub/*
*.log
**/speaker_data*/**
**/.venv/*
**metrics_report**

*.db
**/advanced_omi_backend.egg-info/
**/dist/*
**/build/*
**/*.egg-info/

untracked/*
backends/advanced/data/*
backends/advanced/diarization_config.json
extras/havpe-relay/firmware/secrets.yaml
extras/test-audios/*

## Python Build stuff
**/*egg-info/*

# Speaker Recognition
extras/speaker-omni-experimental/data/*
extras/speaker-omni-experimental/cache/*

# AI Stuff
.claude

# SSL
extras/speaker-recognition/ssl/*
backends/advanced/ssl/*

# nginx
extras/speaker-recognition/nginx.conf

# Cache
extras/speaker-recognition/cache/*
extras/speaker-recognition/outputs/*

# my backup
backends/advanced/src/_webui_original/*
backends/advanced-backend/data/neo4j_data/*
backends/advanced-backend/data/speaker_model_cache/

*.bin
*.sqlite3
*checkpoints


# k8s config
backends/charts/advanced-backend/env-configmap.yaml

extras/openmemory-mcp/data/*
.env.backup.*

backends/advanced/nginx.conf
backends/advanced/Caddyfile

