**/__pycache__
*.wav
**/*.env
!**/.env.template
example/*
**/node_modules/*
**/ollama-data/*
**/qdrant_data/*
backends/examples/ai_server/*
backends/examples/example-satellite/*
**/model_cache/*
.vscode/*
**/audio_chunks/*
**/mongo_data/*
.cursor/*
.locks
blobs
transcription_results.csv
**cache/*
*.ckpt
**/hub/*
*.log
**/speaker_data/**
**/.venv/*
**metrics_report**

*.db
**/advanced_omi_backend.egg-info/
**/dist/*
**/build/*

untracked/*
backends/advanced-backend/data/*