**/__pycache__
*.wav
**/*.env
example/*
**/node_modules/*
**/ollama-data/*
**/qdrant_data/*
backends/examples/ai_server/*
backends/examples/example-satellite/*
**/model_cache/*
.vscode/*
**/audio_chunks/*
**/mongo_data/*
.cursor/*