@import './styles/components.css';

@layer base {
  html {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
  }

  #root {
    width: 100%;
    min-height: 100vh;
  }
}