*
!.python-version
!Dockerfile
!Dockerfile.blackwell
!pyproject.toml
!pyproject.blackwell.toml
!README.md
!src
!.env
!memory_config.yaml
!diarization_config.json.template
!diarization_config.json
!uv.lock
!webui
!ssl
!nginx.conf
!nginx.conf.template
!start.sh
!start-workers.sh